.btn{
    background-color: darkcyan;
    color: #fff;
    font-size: 18px;
    border: none;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    &:disabled{
        opacity: .5;
    }
    &:active{
        transform: scale(.98);
    }
    &:hover{
        opacity: .9;
    }
}
.btn.danger{
    background-color: red;
}
.btn.success{
    background-color: darkcyan;
}
.btn.warning{
    background-color: gold;
}